.achievements-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    width: 100%;
    overflow: hidden;
    color: #ffffff;
}

.achievements-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.achievements-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.achievement-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    color: #e63946;
    flex-wrap: wrap;
}

.achievement-block {
    display: flex;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.44);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
    overflow: hidden;
    align-items: center;
    min-height: 180px;
    opacity: 0;
    padding: 15px;
    gap: 15px; /* Расстояние между изображением и текстом */
}

.achievement-block.left-block {
    transform: translateX(-50px);
}

.achievement-block.right-block {
    transform: translateX(50px);
}

.achievements-container.in-view .achievement-block {
    opacity: 1;
    transform: translateX(0);
}

.achievement-block:hover {
    transform: scale(1.05);
    background-color: #212121;
}

/* Улучшенная адаптация изображений */
.achievement-image-left, .achievement-image-right {
    width: 150px;
    height: auto;
    max-height: 150px;
    object-fit: contain; /* Чтобы изображение не обрезалось */
    flex-shrink: 0;
}

.achievement-image-right {
    margin-left: auto;
    display: block;
}

.achievement-text {
    width: 60%;
    padding: 10px;
    text-align: left;
}

.achievement-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.achievement-details {
    font-size: 14px;
    color: #aaaaaa;
}

/* Адаптация для планшетов */
@media (max-width: 1024px) {
    .achievement-text {
        width: 70%;
    }
    .achievement-image-left, .achievement-image-right {
        /*width: 120px;*/
        /*max-height: 120px;*/
        display: none;
    }
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    .achievement-row {
        flex-direction: column;
        align-items: center;
    }

    .achievement-block {
        flex-direction: row; /* Оставляем изображение сбоку */
        justify-content: center;
        text-align: left;
        width: 90%;
        max-width: 400px;
        border-radius: 10px;
    }

    .achievement-text {
        width: 100%;
        text-align: left;
    }

    .achievement-image-left, .achievement-image-right {
        /*width: 100px; !* Немного уменьшаем размер на мобильных *!*/
        /*max-height: 100px;*/
        display: none;
    }
}

