.achievements-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    width: 100%;
    overflow: hidden;
    color: #cccccc;
}

.achievements-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.achievements-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.achievement-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    color: #e63946;
}

.achievement-block {
    display: flex;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.44);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
    overflow: hidden;
    align-items: center;
    min-height: 180px;
    opacity: 0;
    padding: 15px;
}

.achievement-block.left-block {
    transform: translateX(-50px);
}

.achievement-block.right-block {
    transform: translateX(50px);
}

.achievements-container.in-view .achievement-block {
    opacity: 1;
    transform: translateX(0);
}

.achievement-block:hover {
    transform: scale(1.05);
    background-color: #212121;
}

.achievement-image-left {
    width: 10%;
    height: 100%;
    object-fit: cover;
}

.achievement-image-right {
    width: 10%;
    height: 100%;
    object-fit: cover;
    margin-left: auto;
    display: block;
}

.achievement-text {
    width: 50%;
    padding: 10px;
    text-align: left;
}

.achievement-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.achievement-details {
    font-size: 14px;
    color: #aaaaaa;
}

@media (max-width: 768px) {
    .achievements-content {
        flex-direction: column;
    }
    .achievement-row {
        flex-direction: column;
    }
    .achievement-text {
        width: 100%;
        text-align: center;
    }
    .achievement-block {
        border-radius: 10px;
    }
}