.contacts-container {
    background-color: rgba(0, 0, 0, 0.42);
    padding: 50px 0;
    text-align: center;
}

.contacts-title {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.contacts-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.contacts-left, .contacts-right {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
}

.map-container iframe {
    width: 100%;
    height: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: #f1f1f1;
}

.contact-info {
    background: rgba(63, 63, 63, 0.66);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #f1f1f1;
    text-align: left;
}

.contact-info h3 {
    color: #e63946;
    margin-bottom: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.contact-form input {
    padding: 12px;
    background: rgba(63, 63, 63, 0.66);
    border: 1px solid rgba(63, 63, 63, 0.66);
    color: #f1f1f1;
    font-size: 1rem;
}

.contact-form button {
    background-color: #e63946;
    color: #fff;
    padding: 12px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background-color: #8d252f;
}

.map-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#map {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

/* Стили для номера телефона */
.phone-link {
    color: inherit; /* Использует основной цвет текста */
    text-decoration: none; /* Убирает подчеркивание */
}

/* Эффект при наведении */
.phone-link:hover {
    text-decoration: underline;
}

@media (max-width: 1024px) {
    .contacts-content {
        flex-direction: column;
        align-items: center;
    }

    .contacts-left, .contacts-right {
        max-width: 90%;
    }

    .map-container {
        height: 250px;
    }

    .contact-info {
        padding: 15px;
        text-align: center;
    }

    .contact-form input, .contact-form button {
        font-size: 1rem;
        padding: 10px;
    }

    .phone-link {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .contacts-content {
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
    }

    .contacts-left, .contacts-right {
        max-width: 100%;
        border-radius: 10px;
    }

    .map-container {
        height: 220px;
        border-radius: 10px;
    }

    .contact-info {
        padding: 10px;
        border-radius: 10px;
    }

    .contact-form input, .contact-form button {
        font-size: 0.9rem;
        padding: 10px;
        border-radius: 10px;
    }

    .phone-link {
        font-size: 1rem;
    }
}